body {
	background-color: lemonchiffon;
	color: deeppink;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
img {
    display: inline-block;
    border-radius: 50px;
   width: 20%;
   margin: 0 auto;

}

 
h1 {
	text-align: center;
}

 ul {
 	list-style-type: none;
      padding: 10px;
      background: deeppink;
      font-weight: bold;

    }

    .links {
    	text-align: center;
    	
    }


    li {
    	display: inline;

    }

    a {
    	color: lemonchiffon;
      padding: 10px 5px;

    }

    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }