.beyonce {
  background-image: url(‘../img/queen-bey-trivia.png’);
  background-size: cover;
}
.beyonce:hover {
  background-image: url(‘../img/FabSkinCare.png’);
  background-size: cover;
}
.fab-skin-care {
  background-image: url(‘../img/FabSkinCare.png’);
  background-size: cover;
}
.fab-skin-care:hover {
  background-image: url(‘../img/qbt.png’);
  background-size: cover;
}
.m8d {
  background-image: url(‘../img/m8d.png’);
  background-size: cover;
}
.m8d:hover {
  background-image: url(‘../img/m8d.png’);
  background-size: cover;
}
